* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    height: 100vh;
    background-color: #262626;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    color: #D9D9D9;
    display: flex;
    justify-content: center;
}



/* Header Component */

header {
    text-align: center;
}

header h1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #F9F4DA;
}

header p {
    max-width: 350px;
    font-size: 0.875rem;
    color: #8E8E8E;
}



/* Status Component */

.status {
    width: 100%;
    margin-block: 1.875rem; /* 30px */
    padding: 0.375rem; /* 6px */
    border-radius: 4px;
    background: #10A95B;
    text-align: center;
    color: #F9F4DA;
}

.status h2 {
    margin: 0.3125rem; /* 5px */
    font-size: 1.25rem;
}

.status p {
    margin: 0.3125rem; /* 5px */
}