* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    height: 100vh;
    background-color: #262626;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    color: #D9D9D9;
    display: flex;
    justify-content: center;
}



/* Header Component */

header {
    text-align: center;
}

header h1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #F9F4DA;
}

header p {
    max-width: 350px;
    font-size: 0.875rem;
    color: #8E8E8E;
}



/* Status Component */

.status {
    width: 100%;
    margin-block: 1.875rem; /* 30px */
    padding: 0.375rem; /* 6px */
    border-radius: 4px;
    background: #10A95B;
    text-align: center;
    color: #F9F4DA;
}

.status h2 {
    margin: 0.3125rem; /* 5px */
    font-size: 1.25rem;
}

.status p {
    margin: 0.3125rem; /* 5px */
}



/* Languages Component */

.languages-container {
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.28125rem; /* 4.5px */
}

.language-chip {
    border-radius: 3px;
    padding: 0.28125rem; /* 4.5px */
}



/* Word Component */

.word-container {
    display: flex;
    justify-content: center;
    gap: 0.125rem; /* 2px */
    margin-block: 2.25rem; /* 36px */
}

.word-container span {
    width: 2.5rem; /* 40px */
    height: 2.5rem; /* 40px */
    border-bottom: 1px solid #F9F4DA;
    background: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.125rem; /* 18px */
}



/* Keyboard Component */

.keyboard {
    width: 100%;
    margin-block: 2.25rem; /* 36px */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.375rem; /* 6px */
}

.keyboard button {
    width: 2.5rem; /* 40px */
    height: 2.5rem; /* 40px */
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    background: #FCBA29;
    font-weight: 600;
    color: #1E1E1E;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s;
}

.keyboard button.correct {
    background: #10A95B;
}

.keyboard button.incorrect {
    background: #EC5D49;
}

.keyboard > button:hover {
    opacity: 1.0;
}




/* NewGameBtn Component */

button#new-game {
  width: 14.0625rem; /* 225px */
  height: 2.5rem; /* 40px */
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  margin-inline: auto;
  padding: 0.375rem 0.75rem ; /* 6px 12px */
  background-color: #11B5E5;
  display: block;
  font-weight: 600;
  color: #1E1E1E;
  cursor: pointer;
  transition: all 0.2s;
}

button#new-game:hover {
  background-color: #15c7fd;
}